<h1>Introduction</h1>
<p>This website contains information related to third-party security and GDPR related risks.</p>
<p>Both GDPR and information security ask questions such as: "What do our vendors depend on?", "Where is our data stored?"
  "Who has access to our data?",...</p>
<p>I work as a GDPR and information security consultant and have had to look up the answers to these questions far to often.</p>

<p>That is why I've started this project: the goal is to work as a reference guide (a kind of phonebook) for these kinds of questions.</p>


<h1>Company database</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= link_to "Show", company_path(company) %></td>
    </tr>
  <% end %>
</table>
