<h1>Introduction</h1>
<p>This website contains information related to third-party security and GDPR related risks.</p>
<p>Both </p>


<h1>Company database</h1>

<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th></th>
  </tr>
  <% @companies.each do |company| %>
    <tr>
      <td><%= company.name %></td>
      <td><%= link_to "Show", company_path(company) %></td>
    </tr>
  <% end %>
</table>
